body{
	background-image: url('../media/bgImage.jpg');
}

.header{
	background-color: $colorPrimario;
	border-bottom: 1px solid $colorSecundario;
	img{
		width: 80%;
	}
	a{
		font-family: $fontRegular;
		font-size: 1.5rem;
		font-weight: 600;
		text-decoration: none;
		color: $colorSecundario;
		transition: all 0.2s ease-in-out;
		&:hover{
			color: $colorFondo;
		}
		@media all and (min-width: 992px){
			margin-right: 50px;
		}
	}
	.button{
		background-color: $colorSecundario;
	}
}

.title{
	font-size: 3.5rem;
	font-family: $fontTitles;
	text-align: center;
	color: $colorSecundario;
	margin: 10px 0px;
	@media all and (min-width: 768px){
		font-size: 5rem;
	}
}

.title2{
	font-family: $fontRegular;
	font-size: 2.5rem;
	text-align: center;
	color: $colorSecundario;
	@media all and (min-width: 768px){
		font-size: 3rem;
	}
	@media all and (min-width: 992px){
		font-size: 3.5rem;
		text-align: left;
		margin: 30px 0px 30px 35px;
	}
}

.title3{
	font-family: $fontRegular;
	font-size: 1.5rem;
	margin-left: 125px;
	margin-top: 10px;
}

.subtitle{
	color: $colorPrimario;
	font-family: $fontRegular;
	text-align: center;
}

.promo{
	font-family: $fontRegular;
	font-size: 2rem;
	line-height: 120%;
	text-align: center;
	margin-bottom: 10px;
	color: $colorPrimario;
	img{
		width: 100%;
	}
	@media all and (min-width: 768px){
		flex-direction: row;
		font-size: 2.2rem;
	}
	@media all and (min-width: 992px){
		font-size: 3.5rem;
		margin: 50px 0px;
	}
}

.productos{
	font-family: $fontRegular;
	font-size: 2rem;
	flex-direction: column;
	@media all and (min-width: 992px){
		flex-direction: row;
		flex-wrap: wrap;
		margin-bottom: 50px;
	}
	.prod p{
		font-size: 2.5rem;
	}
	div{
		max-width: 540px;
		@media all and (min-width: 768px){
			max-width: 620px;
		}
		@media all and (min-width: 992px){
			max-width: 650px;
		}
	}
}

.prod{
	background-color: $colorPrimario;
	color: $colorSecundario;
	margin-bottom: 5px;
}

h5{
	font-size: 2.5rem;
}

.footer{
	background-color: $colorPrimario;
	border-top: 1px solid $colorSecundario;
	color: $colorSecundario;
	display: flex;
	flex-direction: column;
	div ul{
		list-style: none;
		display: flex;
		flex-direction: column;
		margin-top: 5px;
	}
	a{
		font-family: $fontRegular;
		font-size: 1.5rem;
		font-weight: 600;
		text-decoration: none; 
		color: $colorSecundario;
		margin-right: 50px;
		transition: all 0.2s ease-in-out;
		&:hover{
			color: $colorFondo;
		}
	}
	.button{
		background-color: $colorSecundario;
	}
	@media all and (min-width: 768px){
		flex-direction: row;
		p{
			font-family: $fontRegular;
			margin-left: 10px;
		}
		form{
			font-size: 1rem;
			font-family: $fontRegular;
			margin-left: 40px;
			input{
				font-size: 1rem;
			}
		}
	}
	@media all and (min-width: 992px){
		div ul {
			flex-direction: row;
			margin-top: 40px;
		}
	}
}

.newsletter{
	display: none;
	margin-right: 50px;
	@media all and (min-width: 768px){
		display: inline-block;
	}
}

.modalForm{
	font-family: $fontRegular;
	color: $colorSecundario;
	background-color: $colorPrimario;
}